<h1><b>Amazon Web Scraper Project</b></h1>

In [1]:
# import libraries
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [42]:
# Connect to WebSite
URL = 'https://www.amazon.com/Retreez-Funny-Mug-Accounting-Inspirational/dp/B0BHCP5GMM/ref=sr_1_3?keywords=data+analyst+gift&qid=1689878304&sprefix=data+analyst+%2Caps%2C287&sr=8-3'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, 'html.parser')
soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

title = soup2.find(id='productTitle').get_text()
price = soup2.find(id='corePrice_feature_div').get_text()
print(title)
print(price)

             Retreez Funny Mug - Torture The Data Data Science Scientist Analyst Accounting Statistics 11 Oz Ceramic Coffee Mugs - Funny Sarcasm Inspirational birthday gifts for friend coworker colleague him her





                          $15.55



                           $


                           15

                            .



                           55

In [43]:
price = price.strip()[1:5]
title = title.strip()

print(title)
print(price)

Retreez Funny Mug - Torture The Data Data Science Scientist Analyst Accounting Statistics 11 Oz Ceramic Coffee Mugs - Funny Sarcasm Inspirational birthday gifts for friend coworker colleague him her
15.5

In [44]:
import datetime
today = datetime.date.today()
print(today)

2023-07-21

In [63]:
import csv

header = ['Title', 'Price','Date']
data = [title, price, today]

with open('Amazon_Web_Scraper_Dataset2.0.csv','w', newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [64]:
type(price)

str

In [71]:
# Now we are appending data to the csv
with open('Amazon_Web_Scraper_Dataset2.0.csv','a+', newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [76]:
import pandas as pd

df = pd.read_csv(r"Amazon_Web_Scraper_Dataset2.0.csv")
df

                                               Title  Price        Date
0  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
1  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
2  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
3  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21

<h3><b>Automating the monitoring process </b></h3>

In [ ]:
# This will send email according to the condition
def send_email():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    #server.starttis()
    server.ehlo()
    server.login('Rmano@gmail.com', 'xxxxxxx')

    subject = "The product you want is below $15! Now is your chance to buy!"
    body = "This is the moment we have been waiting for. Now is your chance to pick up the product of your dreams. Don't mess it up! Link here: href{..}"

    msg =f"Subject: {subject}\n\n{body}"

    server.sendmail(
        'Rmano@gmail.com',
        msg
    )

In [80]:
# monitoring
def check_price():
    URL = 'https://www.amazon.com/Retreez-Funny-Mug-Accounting-Inspirational/dp/B0BHCP5GMM/ref=sr_1_3?keywords=data+analyst+gift&qid=1689878304&sprefix=data+analyst+%2Caps%2C287&sr=8-3'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)
    
    soup1 = BeautifulSoup(page.content, 'html.parser')
    soup2 = BeautifulSoup(soup1.prettify(),'html.parser')
    
    title = soup2.find(id='productTitle').get_text()
    price = soup2.find(id='corePrice_feature_div').get_text()

    price = price.strip()[1:5]
    title = title.strip()

    import datetime
    today = datetime.date.today()

    import csv

    header = ['Title', 'Price','Date']
    data = [title, price, today]

    with open('Amazon_Web_Scraper_Dataset2.0.csv','a+', newline='',encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

    if(price < 14):
        send_email()

In [77]:
# let's assume that is black friday on Amazon, monitoring every single day 
while(True):
    check_price()
    time.sleep(86400)

KeyboardInterrupt:

In [79]:
import pandas as pd

df = pd.read_csv(r"Amazon_Web_Scraper_Dataset2.0.csv")
df

                                               Title  Price        Date
0  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
1  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
2  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
3  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
4  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
5  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21
6  Retreez Funny Mug - Torture The Data Data Scie...   15.5  2023-07-21