In [2]:
from bs4 import BeautifulSoup 
import requests

In [88]:
url = 'https://en.wikipedia.org/wiki/The_World%27s_Billionaires'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [98]:
table = soup.find_all('table')[2]

world_title = table.find_all('th')
world_title

[<th>No.
 </th>,
 <th>Name
 </th>,
 <th><a href="/wiki/Net_worth" title="Net worth">Net worth</a> (<a href="/wiki/United_States_dollar" title="United States dollar">USD</a>)
 </th>,
 <th>Age
 </th>,
 <th><a href="/wiki/Citizenship" title="Citizenship">Nationality</a>
 </th>,
 <th>Primary source(s) of wealth
 </th>]

In [99]:
world_table_titles = [title.text.strip() for title in world_title]
print(world_table_titles)

['No.', 'Name', 'Net worth (USD)', 'Age', 'Nationality', 'Primary source(s) of wealth']

In [100]:
import pandas as pd

In [101]:
df = pd.DataFrame(columns = world_table_titles)[:1]
df

Empty DataFrame
Columns: [No., Name, Net worth (USD), Age, Nationality, Primary source(s) of wealth]
Index: []

In [102]:
column_data = table.find_all('tr')

In [104]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data
    print(individual_row_data)

['1', 'Bernard Arnault & family', '$211\xa0billion', '74', 'France', 'LVMH']
['2', 'Elon Musk', '$180\xa0billion', '51', 'United States', 'Tesla, SpaceX, X Corp.']
['3', 'Jeff Bezos', '$114\xa0billion', '59', 'United States', 'Amazon']
['4', 'Larry Ellison', '$107\xa0billion', '78', 'United States', 'Oracle Corporation']
['5', 'Warren Buffett', '$106\xa0billion', '92', 'United States', 'Berkshire Hathaway']
['6', 'Bill Gates', '$104\xa0billion', '67', 'United States', 'Microsoft']
['7', 'Michael Bloomberg', '$94.5\xa0billion', '81', 'United States', 'Bloomberg L.P.']
['8', 'Carlos Slim & family', '$93\xa0billion', '83', 'Mexico', 'Telmex, América Móvil, Grupo Carso']
['9', 'Mukesh Ambani', '$83.4\xa0billion', '65', 'India', 'Reliance Industries']
['10', 'Steve Ballmer', '$80.7\xa0billion', '67', 'United States', 'Microsoft']

In [105]:
df

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Bernard Arnault & family,$211 billion,74,France,LVMH
1,2,Elon Musk,$180 billion,51,United States,"Tesla, SpaceX, X Corp."
2,3,Jeff Bezos,$114 billion,59,United States,Amazon
3,4,Larry Ellison,$107 billion,78,United States,Oracle Corporation
4,5,Warren Buffett,$106 billion,92,United States,Berkshire Hathaway
5,6,Bill Gates,$104 billion,67,United States,Microsoft
6,7,Michael Bloomberg,$94.5 billion,81,United States,Bloomberg L.P.
7,8,Carlos Slim & family,$93 billion,83,Mexico,"Telmex, América Móvil, Grupo Carso"
8,9,Mukesh Ambani,$83.4 billion,65,India,Reliance Industries
9,10,Steve Ballmer,$80.7 billion,67,United States,Microsoft

In [108]:
df.to_csv(r'C:\Users\77474\Desktop\Python\RichPeople.csv', index = False)